.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  background-color: black;
  font-family:  'Helvetica Neue', 'Helvetica', 'Open Sans';
  color: #686868;
  font-size: 12px;
  font-weight:bold;
}

h6 {
  color: white;
  font-weight: bolder;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight:bold;
}

.title {
  color: white;
  font-style: normal;
  font-size: 35px;
  font-family: 'fontyfont'
}

.white {
  color: white;
  font-weight: bolder;
  font-size: 12px;
  font-weight:bold;
}

.yellow {
  color: yellow;
  font-weight: bolder;
  font-size: 12px;
  font-weight:bold;
}

.italic {
  font-style:italic;
  font-size: 12px;
  font-weight:bold;
}

.center {
    margin: auto;
    width: 940px;
}

#header {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.shiny-news {
  background-image: url('../images/_header/shine.gif');
  background-repeat: no-repeat;
}

a:link    {color:#686868; background-color:transparent; text-decoration:none}
a:visited {color:#686868; background-color:transparent; text-decoration:none}
a:hover   {color:white; background-color:transparent; text-decoration:none}
a:active  {color:yellow; background-color:transparent; text-decoration:none}

.about-col {
  width:310px;
  display:inline-block;
  vertical-align: top;
}

.about-col-first {
  margin-right: 15px;
}


@font-face {
  font-family: 'fontyfont';
  src: url('../fonts/ITCAvantGardePro BoldObl.otf')  format('opentype');
  font-weight: normal;
}




#new-text {
  margin-top: 47px;
  position: absolute;
  padding-left: 500px;
  width: 60px;
}

#new-bar {
  margin-top: 42px;
  position: absolute;
  background-color: yellow;
  width: 640px;
  height: 28px;
}


#logo {
  height: 130px;
  padding-top: 30px;
}

#main-page-sidebar {
  position: fixed;
  width: 250px;
}

#main-page-content {
  width: 640px;
  margin-left: 250px;
  padding-bottom: 100px;
}


#title-buzz {
  color: white;
  font-weight: bolder;
  padding-bottom: 30px;
}

.sidebar-item {
  color: #686868;
}

.sidebar-item:hover {
  color: #FFF;
}

.active {
  color: yellow;
}

u {
  border-bottom: 4px solid yellow;
  text-decoration: none;
}

i {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.contact-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

jeimson-gallery {
  width: 100%;
}

.gal-image {
  width: 100%;
  padding-bottom: 0px;
}

#gal-controls {
  width: 640px;
  padding-top: 5px;
}

#gal-controls div{
  display: inline-table;
  padding-right: 5px;
}

.gal-active {
  color: yellow;
}
.gal-hover {
  color: white;
}
