<div>
<span class=title>
Studio Jeimson is an international
design office that specializes
in engaging corporate identities with cross-media
applications.</span>
</div>

<br>

<div class="about-col about-col-first">

<p>
  <span class=white>In the beginning there was..</span><br>
  Studio Jeimson was founded in 2013 by Jeisson
  Drenth who was ,at the time, interning at Losiento Studio in Barcelona.<br>
  Inspired by the similarities and differences between the often
  conceptual, research-based Dutch Design culture and
  the Spanish visual culture that shows beautiful craftsmanship and a passion for creating bold
  aesthetic works, Studio Jeimson developed an open,
  critical and playful view on it's hybrid practice.</p>

<p>
  After having finished his bachelors in Graphic Design
  (Willem de Kooning Academy, Rotterdam, 2014)
  Jeisson Drenth expanded his professional interest to live visuals, scenography and media theory.
</p>

<p>
  <span class="white">And Jack had a groove!</span><br>
  With strong roots in conceptual design, Studio
  Jeimson challenges its clients by always stressing <br>
  the importance of getting to the core of their ambitions.
  Design is the practice that is used to help entrepreneurs and
  businesses achieve their goals and reach out to their
  public in progressive ways.
  <br> In doing this, the studio embraces the aspect of providing
  a service while maintaining the position of <br>
  a specialist and advisor that develops strategies and translates these into
  specific visual languages.
</p>

<p>
  <span class=italic>"Each and every final design is the logical outcome<br>
  of a visual and intuitive but mostly conceptual process.
  Therefor I never limit my concepts with my technical
  knowhow. This results in me learning new techniques
  and collaborating with specialists. <br>
  This way of working has made me strive to avoid any personal
  style when it comes down to aesthetics. Each project
  is a custom job. My approach is my signature."
</p>

</div>



<div class="about-col">
<p>
  <span class=white>Jack is the one..<br>
    the one who gives you the power to jack your body!</span>
    Studio Jeimson has worked for and together with
    different organizations and entrepreneurs to help
    build brands and push the envelope when it comes<br>
    to visual communication and experience design/
    performance. Amongst others:
  </p>

<p>
  <span class=yellow>Amsterdam Dance Event, First Of August Academy,
  Garage Rotterdam, Warehouse Elementenstraat,
  SEKOIA, BAR Rotterdam, Together Boston/
  Dutch Culture USA, Losiento Studio, CONTRA, Paradigm,<br>
  Best Kept Secret Festival, Blaak10 Gallery,
  Blijdorp Festival, Cruquiusgilde</span>
</p>

<p>
  <span class=white>Jack is the one that can bring nations..<br>
    and nations of all Jackers together under one house!</span><br>
    Aside from the projects that focus on actual design,
    Studio Jeimson works on an ongoing research project
    about how social platforms facilitate and shape
    contemporary visual culture. <br>
    Earlier this year Jeisson
    Drenth presented the first chapters of his research
    -that was also at the core of his studies- as a lecture
    and VJ presentation at the city theatre of Amsterdam.
  </p>

<p>
  Inspired by i.a. theorists Henry Jenkins, Clay Shirky,
  Jaron Lanier, Geert Lovink and artists LIL INTERNET
  and Ryoji Ikeda, DJ Girltalk and the documentary<br>
  RIP: A Remix Manifesto, Jeisson Drenth continues
  researching visual culture and applying his findings<br>
  in self initiated as well as commercial projects.
</p>

</div>
