<img src="images/about.jpg" width="640">

<h6>Design, Live visuals, Media theory.</h6>

<p>
Since the founding of my practice back in 2012 I have worked for and together
with different organizations and entrepreneurs to help build brands and push
the envelope when it comes to visual communication, be it online, interactive
or offline.
</p>

<p>
After having graduated (Willem de Kooning Academy, BDes) in 2014 I have enjoyed
expanding my professional interests:
  <ul>
    <li>
      Two days of the week I work at NNF Productions, a young production office
      that creates several festivals and events of different sizes in and around
      Rotterdam, showcasing a wide range of (audiovisual) artists and striving
      to be at the forefront of the dance scene.
    </li>
    <li>
      Since two years I’ve been working closely together with SEKOIA, an on- and
      offline platform for and about electronic music, media production and
      dance events. My part in this team is to develop SEKOIA’s visual identity
      by creating new media products and visually supporting performing artists
      (as the resident VJ) at events hosted by us.
    </li>
    <li>
      On the weekends and at events I am a host and bartender at Gallery de
      Garage Rotterdam, where I enjoy learning about and presenting contemporary
      art, and serve nice cold beers of course.
    </li>
    <li>
      Last but definitely not least I work on an ongoing research project about
      how social platforms facilitate and shape contemporary visual culture.
      Earlier this year I presented this research as a lecture + VJ presentation
      at the city theatre of Amsterdam. I continue this research aside from
      other activities in hopes of spreading the word and hopefully publishing
      soon.
    </li>
  </ul>
</p>

<p>
In my work I value getting to know my clients. It's a thorough briefing,
getting to the core of the clients ambition, that ignites my passion for
creativity. Design is the practice I use to help entrepreneurs and
businesses that appeal to me achieve their goals. In this way I embrace the
aspect of providing a service while maintaining the position of a specialist
and advisor that develops strategies and translates these into specific
visual languages.
</p>

<p>
Each and every final design is the logical outcome of a visual and intuitive
but mostly conceptual process. Therefor I never limit my concepts with my
technical knowhow. This results in me learning new techniques or collaborating
with specialists. It made me strive to avoid any personal style when it comes
to aesthetics.
</p>


<p>
Each project is a custom job, my approach is my signature.
</p>

<p>
I like enquiries! Send them over to: jeissondrenth at gmail.com
</p>
