<div><h9>
Studio Jeimson is an international design agency that translates ideas to cross-media marketing and interactive visual communication.</h9>
</div>
<br>
<div class="about-col">
<p><h6>In the beginning there was..</h6>
Studio Jeimson was founded in 2013 by Jeisson Drenth who was at this time gaining work experience as an intern at Losiento Studio in Barcelona. Inspired by the similarities and differences between the often conceptual, research-based Dutch Design culture and the Spanish visual culture that shows beautiful craftmanship and a passion for creating bold aesthetic works, Studio Jeimson developed an open, critical and playful view on it's future hybrid practice.</p>
<p>After having obtained his major in Graphic Design (Willem de Kooning Academy, Rotterdam, 2014) Jeisson Drenth expanded his practices to the fields of live visuals, scenography and media theory.</p>

<p><h6>And Jack had a groove!</h6>
With strong roots in conceptual design, Studio Jeimson challenges its clients by always persuing getting to get to the core of their ambition.
Design is the practice that is used to help entrepreneurs and businesses achieve their goals and reach out to their public in progressive ways. In doing this, the studio embraces the aspect of providing a service while maintaining the position of a specialist and advisor that develops strategies and translates these into specific visual languages.</p>

<p><h8>"Each and every final design is the logical outcome of a visual and intuitive but mostly conceptual process. Therefor I never limit my concepts with my technical knowhow. This results in me learning new techniques and collaborating with specialists. This way of working has made me strive to avoid any personal style when it comes down to aesthetics. Each project is a custom job. My approach is my signature."</h8></p>
</div>

<div class="about-col">
<p><h6>Jack is the one..<br>
the one who gives you the power to jack your body!</h6>
Studio Jeimson has worked for and together with different organizations and entrepreneurs to help build brands and push the envelope when it comes to visual communication and experience design/ performance. Amongst others:<br>
<h7>Amsterdam Dance Event, First Of August Academy, Warehouse Elementenstraat, CONTRA, BAR Rotterdam, Together Boston/ Dutch Culture USA, Losiento Studio, SEKOIA, Best Kept Secret Festival, Blijdorp Festival, Cruquiusgilde, Blaak10 Gallery, Paradigm, Galerie Garage Rotterdam</h7></p>

<p><h6>Jack is the one that can bring nations..<br>
and nations of all Jackers together under one house!</h6>
Aside from the projects that focus on actual design, Studio Jeimson works on an ongoing research project about how social platforms facilitate and shape contemporary visual culture. Earlier this year Jeisson Drenth presented the first chapters of his research -that was also at the core of his studies- as a lecture and VJ presentation at the city theatre of Amsterdam.</p>
<p>Inspired by i.e. theorists Henry Jenkins, Clay Shirky, Jaron Lanier, Geert Lovink and artists LIL INTERNET and Ryoji Ikeda, DJ Girltalk and the documentary RIP: A Remix Manifesto, Jeisson Drenth continues researching visual culture and applying his findings in self initiated as well as commercial projects.</p>
</div>