<div class="about-col about-col-first">

<p>
  11/08/15 <span class=yellow>Design</span><br>
  Video Installation and Scenography<br>
  <span class=white>Bokito-BAR Blijdorp Festival</span><br>
  w/ Hunee, Jovonn, Young Marco<br>
  BAR, Rotterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/643626435740014/">attend here</a><br>
</p>

<p>
  05/07/15 Live visuals<br>
  <span class=white>Focus Festival</span><br>
  w/ Interstellar Funk, Awanto 3, Kriss Kross Amsterdam<br>
  Cruquiusgilde, Amsterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/814661458621470/">attend here</a><br>
</p>

<p>
  20/06/15 Live visuals<br>
  <span class=white>Hef-tig: The official CONTRA afterparty</span><br>
  w/ Nick Monaco, Dauwd,<br>
  Nino&Frankie, Jamie Lie A Kwie<br>
  BAR, Rotterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/636499249784242/">attend here</a><br>
</p>

<p>
  19/06/15 Live visuals<br>
  <span class=white>Best Kept Secret Festival x SEKOIA</span><br>
  w/ Polynation Live, Sirens of Saturn (live),<br>
  Florinsz Janvier<br>
  Beekse Bergen, Hilvarenbeek<br>
  <a target="_blank" href="https://www.facebook.com/events/243528032508994/">attend here</a><br>
</p>

<p>13/05/15 Live visuals<br>
  <span class=white>Together Boston Festival x SEKOIA</span><br>
  w/ Martyn, Tom Trago, Florinsz Janvier,<br>
  Cursed P, Heleen Blanken<br>
  Middlesex Lounge, Massachusetts<br>
  <a target="_blank" href="https://www.facebook.com/events/1590944537826131/">attend here</a><br>
</p>

<p>
  26/04/15 Live visuals<br>
  <span class=white>SCALA x Bright</span><br>
  w/ Leon Vynehall, Florinsz Janvier, El Maria<br>
  Poppodium EKKO, Utrecht<br>
  <a target="_blank" href="https://www.facebook.com/events/281036455353938/">attend here</a><br>
</p>

</div>

<div class="about-col">

<p>
  22/04/15 <span class=yellow>Media Theory</span><br>
  Guest speaker at Foa. Academy x SSBA Salon<br>
  <span class=white>FoA. ACADEMY // Onder de oppervlakte van mode</span><br>
  Stadsschouwburg, Amsterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/391095671063143/">attend here</a><br>
</p>

<p>
  24/10/14 Live visuals<br>
  <span class=white>SCALA</span><br>
  w/ Dave DK, Florinsz Janvier, Dennis Williams, Romyn<br>
  Poppodium EKKO, Utrecht<br>
  <a target="_blank" href="https://www.facebook.com/events/273353482853148/">attend here</a><br>
</p>

<p>
  18/04/15 Live visuals<br>
  <span class=white>KNUS</span><br>
  w/ William Kouam Djoko, Tim Hoeben, Reza Athar<br>
  ClubUp, Amsterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/396421230519569/">attend here</a><br>
</p>

<p>
  16/10/14 Live visuals<br>
  <span class=white>Verknipt ADE Special</span><br>
  w/ AFFKT, Coyu, Dosem, Edu Imbernon,<br>
  Pleasurekraft, Ramiro Lopez,<br>
  Technasia, Tube & Berger<br>
  Transformatorhuis, Westergasarea, Amsterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/606847642755734/">attend here</a><br>
</p>

<p>
  27/09/14 <span class=yellow>Design</span><br>
  Short Film and VJ Library<br>
  <span class=white>CONTRA - Las Palmas</span><br>
  w/ Fur Coat, Redshape (live), Lake People (live),<br>
  Dekmantel Soundsystem, Nino&Frankie<br>
  Las Palmas, Rotterdam<br>
  <a target="_blank" href="https://www.facebook.com/events/1446290438963667/">attend here</a><br>
</p>

<p>
  20/09/14 Live visuals<br>
  <span class=white>IBB Fest 2014</span><br>
  w/ Florinsz Janvier, Vela Uniform, Dennis Williams<br>
  IBB-Fest, Utrecht<br>
  <a target="_blank" href="https://www.facebook.com/events/251018101763387/">attend here</a><br>
</p>

</div>
