<div  ng-controller="SidebarCtrl as sidebar">

  <div id="logo">

<img src="images/logotype-studio-jeimson/logotype-studio-jeimson.png">

  </div>

  <h6>Info</h6>

  <div  class="sidebar-item"
        ng-click="sidebar.setLoc('clients')"
        ng-class="sidebar.getClass('/clients')">Clients</div>
  <div  class="sidebar-item"
        ng-click="sidebar.setLoc('about')"
        ng-class="sidebar.getClass('/about')">About</div>
  <div  class="sidebar-item"
        ng-click="sidebar.setLoc('resume')"
        ng-class="sidebar.getClass('/resume')">Resume</div>
  <div  class="sidebar-item"
        ng-click="sidebar.setLoc('contact')"
        ng-class="sidebar.getClass('/contact')">Contact</div>


  <h6>News</h6>

  <div  ng-repeat="ne in sidebar.news"
        ng-click="sidebar.setLoc('news/'+ne.file)"
        ng-class="sidebar.getClass('/news/'+ne.file)"
        class="sidebar-item">{{ne.title}}
  </div>


  <h6>Projects</h6>

  <div  ng-repeat="proj in sidebar.projects"
        ng-click="sidebar.setLoc('projects/'+proj.file)"
        ng-class="sidebar.getClass('/projects/'+proj.file)"
        class="sidebar-item">{{proj.title}}
  </div>



</div>
