<div  ng-controller="SidebarCtrl as sidebar"
      id="main-page-sidebar"
      class="col-lg-3">

  <div id="title-studio">studio</div>
  <div id="title-jeimson">JEIMSON</div>
  <div id="title-buzz">Design, Live Visuals, Media Theory</div>


  <div class="sidebar-category">Info</div>

  <div class="sidebar-item" ng-click="sidebar.setLoc('clients')">Clients</div>
  <div class="sidebar-item" ng-click="sidebar.setLoc('about')">About</div>
  <div class="sidebar-item" ng-click="sidebar.setLoc('resume')">Resume</div>
  <div class="sidebar-item" ng-click="sidebar.setLoc('contact')">Contact</div>


  <div class="sidebar-category">News</div>

  <div class="sidebar-item">Follow me on GrindR</div>


  <div class="sidebar-category">Projects</div>
  <div class="sidebar-item">My Penis - A kitchen accessory</div>
  <div class="sidebar-item">So many emotions, so little people to listen</div>
  <div class="sidebar-item">Cats, cats, cats...</div>
  <div class="sidebar-item">My Penis - A kitchen accessory</div>
  <div class="sidebar-item">So many emotions, so little people to listen</div>
  <div class="sidebar-item">Cats, cats, cats...</div>


</div>
