<div  ng-controller="SidebarCtrl as sidebar">

  <div id="logo">

<img src="images/_logotype-studio-jeimson/logotype-studio-jeimson6-01.png" width=190px >

  </div>

  <h6>Info</h6>

  <div  class="sidebar-item"
        ng-click="sidebar.setLoc('about')"
        ng-class="sidebar.getClass('/about', false)">About</div>

  <div  class="sidebar-item"
        ng-click="sidebar.setLoc('calendar')"
        ng-class="sidebar.getClass('/calendar', false)">Calendar</div>


  <h6>Novelties</h6>

  <div  ng-repeat="ne in sidebar.news"
        ng-click="sidebar.setLoc('news/'+ne.file)"
        class="sidebar-item"
        ng-class="sidebar.getClass('/news/'+ne.file, ne.shiny)">
        {{ne.title}}
  </div>


  <h6>Projects</h6>

  <div  ng-repeat="proj in sidebar.projects"
        ng-click="sidebar.setLoc('projects/'+proj.file)"
        ng-class="sidebar.getClass('/projects/'+proj.file, false)"
        class="sidebar-item">{{proj.title}}
  </div>



  <div class="email">
    JeissonDrenth@gmail.com
    <br>
    <span class="icon-space"><i class="fa fa-star fa-spin"></i></span>
    <a target="_blank" href="https://www.instagram.com/studiojeimson" class="instagramlink">Instagram</a>
  </div>



</div>
