<video autoplay id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background
  video play through only once.  Loop turned on for the purposes of illustration;
  if removed, the end of the video will fade in the same way created by pressing
  the "Pause" button  -->
<!--<source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">-->
<source src="images/uitnodiging/uitnodiging.mp4" type="video/mp4">
</video>

<div class="parentcontainer">
<div id="maincontainer">
  <div id="contentcontainer">

    <div class="innercontainer">
      ----------------------------------------
      <div class="characterstyle-02">
        <p>Bruiloftsborrel in Groningen</p>
      </div>
      <div class="characterstyle-03">
        <p>van Jeisson en Jeremy</p>
      </div>
      <div class="characterstyle-04">
        <p>28-05-2015</p>
        <p>Havenstraat 22, Groningen</p>
        <p>Vanaf een uur of vier</p><br>
      </div>
      ----------------------------------------
    </div>

    <div class="innercontainer">
      <div style="height:290px;width:445px; padding-top:5px; padding-bottom:5px; overflow:auto;">
        Het was liefde op het eerste gezicht!
      <p> Op de avond van 14 augustus 2014 hebben we elkaar voor het
        eerst ontmoet. We gingen samen joggen in de Rotterdamse haven.
        Hij was op doorreis naar Frankrijk, waar hij 9 maanden een uitwisseling
         zou doen. We brachten de laatste dagen van zijn vakantie
        samen door en spraken af elkaar op te zoeken. Zo gezegd zo
        gedaan. Gedurende 9 maanden zochten we elkaar op. Laptop
        mee het vliegtuig in! En ik had het niet zo breed dus ik
        pakte de bus. Aan het einde van zijn exchange vond hij
        een stage bij een software bedrijf in Utrecht. We brachten
        samen de zomer door in Nederland, maar wisten dat hij na zijn
        stage terug zou moeten naar Québec City in Canada om zijn
        studie af te ronden. En een lat-relatie dat leek mij nou niks.
        </p><p>
        De afgelopen acht maanden hebben we samengewoond in een huis
        van zijn ouders, waar Jeremy en zijn broer samenwoonden voor
        zijn vertrek naar Europa. Het is hier mooi!!! Heerlijk. Het
        regent bijna nooit! Altijd zon! Ik ontmoette zijn familie en
        vrienden (die van mij had hij in Nederland ontmoet) en we
        hadden het heerlijk hier.</p><p>
        Op 22 januari gaven we elkaar het ja-woord in Palais de
        Justice de Québec. We hebben heerlijk gegeten met familie,
        zijn oude en mijn nieuwe vrienden. Ik was ineens zo ver weg!!
        Dat was heel gek. Maar we vieren het gewoon lekker twee keer.
        Bij deze!</p><p>
        Hij is afgestudeerd! En we vliegen 12 mei terug naar Nederland.
        Ik heb jullie allemaal gemist! Bij deze ben je van harte
        uitgenodigd om mijn huwelijk met ons te komen vieren, gezellig in het
        ouderlijk huis. Hopelijk tot gauw!</p>
      </div>

    </div>
  </div>

</div>
</div>
